In [4]:
# insert table

import mysql.connector

conn = mysql.connector.connect(
   user='root', password='1234', host='127.0.0.1', database='mydb')

cursor = conn.cursor()

sql = """INSERT INTO EMPLOYEE(
   FIRST_NAME, LAST_NAME, AGE, SEX, INCOME)
   VALUES (%s, %s, %s, %s, %s)""" #변수를 이용하여 sql명령어 생성

data = ('John', 'Lee', 20, 'M', 2000) #sql명령어에 대입 될 데이터

try:
   cursor.execute(sql, data)
   conn.commit()

except:
   conn.rollback()

print("Data inserted")
conn.close()

Data inserted

In [6]:
import mysql.connector

conn = mysql.connector.connect(
   user='root', password='1234', host='127.0.0.1', database='mydb')

cursor = conn.cursor()

cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")
sql = '''CREATE TABLE EMPLOYEE(
   FIRST_NAME CHAR(20) NOT NULL,
   LAST_NAME CHAR(20),
   AGE INT,
   SEX CHAR(1),
   INCOME FLOAT
)'''
cursor.execute(sql)

insert_stmt = """INSERT INTO EMPLOYEE (FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) 
   VALUES (%s, %s, %s, %s, %s)"""

data = [('John', 'Lee', 19, 'M', 2000), ('Tom', 'Lee', 20, 'M', 7000),
('Amy', 'Steve', 25, 'F', 5000),('Gary', 'Tomson', 26, 'M', 2000)]
cursor.executemany(insert_stmt, data) #데이터를 한번에 많이 입력할 때 : excutemany
conn.commit()

cursor.execute("SELECT * from EMPLOYEE WHERE AGE <23")
print(cursor.fetchall())

conn.close()

[('John', 'Lee', 19, 'M', 2000.0), ('Tom', 'Lee', 20, 'M', 7000.0)]