In [1]:
import mysql.connector

conn = mysql.connector.connect(
   user='root', password='1234', host='127.0.0.1', database='mydb')

cursor = conn.cursor()

cursor.execute("SELECT * from EMPLOYEE ORDER BY INCOME DESC")
print(cursor.fetchall())

conn.close()

[('Tom', 'Lee', 20, 'M', 7000.0), ('Amy', 'Steve', 25, 'F', 5000.0), ('John', 'Lee', 19, 'M', 2000.0), ('Gary', 'Tomson', 26, 'M', 2000.0)]