In [2]:
# mysql connection

import mysql.connector

conn = mysql.connector.connect(user='test', password='0000', host='192.168.0.24', database='employees')
cursor = conn.cursor()
cursor.execute("SELECT DATABASE()")
data = cursor.fetchone()
print("Connection established to: ",data)

conn.close()

Connection established to:  ('employees',)

In [4]:
# Search

import mysql.connector

conn = mysql.connector.connect(
   user='test', password='0000', host='192.168.0.24', database='employees')

cursor = conn.cursor()

cursor.execute("SELECT * from employees.departments")
print(cursor.fetchall())

conn.close()

[('d009', 'Customer Service'), ('d005', 'Development'), ('d002', 'Finance'), ('d003', 'Human Resources'), ('d001', 'Marketing'), ('d004', 'Production'), ('d006', 'Quality Management'), ('d008', 'Research'), ('d007', 'Sales')]

In [3]:
# Search

import mysql.connector

conn = mysql.connector.connect(user='test', password='0000', host='192.168.0.24', database='employees')

cursor = conn.cursor()

sql = "SELECT * from employees.employees WHERE emp_no = %s"
cursor.execute(sql,(10001,))
print(cursor.fetchall())

conn.close()

[(10001, datetime.date(1953, 9, 2), 'Georgi', 'Facello', 'M', datetime.date(1986, 6, 26))]

In [ ]:
import mysql.connector

conn = mysql.connector.connect