# 20.09.15 연습문제

In [1]:
import numpy as np
import pandas as pd

## 1.  다음과 같은 배열을 만들어라.  
***
   ```
array([[   0.,    0.,    0.,    1.,    1.],  
       [   0.,    0.,    0.,    1.,    1.],  
       [   0.,    0.,    0.,    1.,    1.],  
       [  10.,   20.,   30.,   40.,   50.],  
       [  60.,   70.,   80.,   90.,  100.],  
       [ 110.,  120.,  130.,  140.,  150.],  
       [   0.,    0.,    0.,    1.,    1.],  
       [   0.,    0.,    0.,    1.,    1.],  
       [   0.,    0.,    0.,    1.,    1.],  
       [  10.,   20.,   30.,   40.,   50.],  
       [  60.,   70.,   80.,   90.,  100.],  
       [ 110.,  120.,  130.,  140.,  150.]])  
```
***

In [2]:
a = np.zeros(9).reshape(3,3)
b = np.ones(6).reshape(3,2)
c = np.arange(10, 160, 10).reshape(3, 5)
np.tile(np.vstack([np.hstack([a,b]),c]),(2,1))

array([[  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.]])

## 2.  다중 인덱스 참조 연습  
***  
```
Cidx1	A	       B
Cidx2	C1	C2	C1	  C2
0	1.76	0.40   0.98	 2.24
1	1.87   -0.98   0.95    -0.15  
2   -0.10	0.41   0.14	 1.45
3	0.76	0.12   0.44	 0.33
4	1.49   -0.21   0.31	-0.85
```  
***

- 위와 같은 구조의 데이터프레임을 제작하시오.

In [3]:
df=pd.DataFrame(np.random.randn(5,4),
                columns=[["A","A","B","B"],
                         ["C1","C2","C1","C2"]])
df.columns.names=['Cidx1','Cidx2']
df

Cidx1         A                   B
Cidx2        C1        C2        C1        C2
0      0.900513  0.350349  0.724854 -0.532861
1      1.091028 -1.124450  1.326797 -1.190299
2     -1.358525 -0.668583  0.469116  1.010900
3      0.601770 -0.253688 -1.097945 -0.497910
4     -0.994970 -0.294301 -0.564527  0.067709

- B, C1 참조하시오.

In [4]:
# B, C1 참조하시오.
df["B","C1"]

0    0.724854
1    1.326797
2    0.469116
3   -1.097945
4   -0.564527
Name: (B, C1), dtype: float64

- 0번 행,  B,C1  값을 참조하시오.

In [5]:
# 0번 행,  B,C1  값을 참조하시오.
df["B", "C1"].iloc[0]

0.7248541925531257

- 0번행 B, C1 값을 100으로 변경하시오

In [6]:
# 0번행 B, C1 값을 100으로 변경하시오
df["B", "C1"].iloc[0] = 100
df

Cidx1         A                     B
Cidx2        C1        C2          C1        C2
0      0.900513  0.350349  100.000000 -0.532861
1      1.091028 -1.124450    1.326797 -1.190299
2     -1.358525 -0.668583    0.469116  1.010900
3      0.601770 -0.253688   -1.097945 -0.497910
4     -0.994970 -0.294301   -0.564527  0.067709

## 3. 연관규칙 연습 데이터셋  
***  
```  
dataset =
1         계란, 우유
2         계란, 기저귀, 맥주, 사과
3         우유, 기저귀, 맥주, 콜라
4         계란, 우유, 맥주, 기저귀 
5         계란, 우유, 맥주, 콜라
```  
***  

위 데이터를 저장하고, 

X={계란, 맥주}, Y={기저귀} 인 경우에 대해  
  
1) 지지도 계산

2) 신뢰도 계산

3) 향상도 계산

In [7]:
dataset =np.array([set(['계란','우유']),
                   set(['계란','기저귀','맥주','사과']),
                   set(['우유','기저귀','맥주','콜라']),
                   set(['계란','우유','맥주','기저귀']),
                   set(['계란','우유','맥주','콜라'])])
dataset

array([{'계란', '우유'}, {'계란', '맥주', '기저귀', '사과'}, {'우유', '맥주', '기저귀', '콜라'},
       {'계란', '맥주', '기저귀', '우유'}, {'계란', '맥주', '콜라', '우유'}], dtype=object)

In [8]:
X = set(["계란", "맥주"])
Y = set(["기저귀"])

In [9]:
# 지지도: X와 Y를 모두 포함하는 거래 건수 / 전체 거래 건수
s_XY = len(dataset[((X|Y)-dataset)==set()])/len(dataset)
print("지지도:",s_XY)

지지도: 0.4

In [10]:
#신뢰도 : X와 Y를 모두 포함하는 거래 건수 / 항목 집합 X가 포함된 거래 건수
c_XY = len(dataset[((X|Y)-dataset)==set()])/len(dataset[((X)-dataset)==set()])
print("신뢰도:",c_XY)

신뢰도: 0.6666666666666666

In [11]:
#향상도: Lift(X->Y) = c(X->Y) / s(Y)
s_Y = len(dataset[((Y)-dataset)==set()])/len(dataset)
lift = c_XY/s_Y
print("향상도:",lift)

향상도: 1.1111111111111112