# json이란?
웹 형식 문서 표현 방법 중 하나. 가볍고 속도가 빠름. 딕셔너리 구조로 작성된 문서

In [1]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt

In [2]:
obj="""
{"name":"Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet":null,
"siblings": [{"name":"Kim", "age":25, "pets":["ba", "ka"]}, 
             {"name":"Lee", "age":22, "pets":["aa","bb","cc"]}] 
}
"""
print(obj) #obj 문자열(json 형식 문서)

{"name":"Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet":null,
"siblings": [{"name":"Kim", "age":25, "pets":["ba", "ka"]},
             {"name":"Lee", "age":22, "pets":["aa","bb","cc"]}]
}

In [ ]:
#json 문자열 파이썬 형태로 변환

In [3]:
res=json.loads(obj) 
res

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Kim', 'age': 25, 'pets': ['ba', 'ka']},
  {'name': 'Lee', 'age': 22, 'pets': ['aa', 'bb', 'cc']}]}

In [ ]:
#파이썬 형태로 읽어진 객체를 진짜 JSON형식으로 변환

In [4]:
asjson=json.dumps(res) 
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Kim", "age": 25, "pets": ["ba", "ka"]}, {"name": "Lee", "age": 22, "pets": ["aa", "bb", "cc"]}]}'

In [ ]:
#json문자열이 담긴 파이썬을 DataFrame으로 변환

In [5]:
res['siblings']

[{'name': 'Kim', 'age': 25, 'pets': ['ba', 'ka']},
 {'name': 'Lee', 'age': 22, 'pets': ['aa', 'bb', 'cc']}]

In [6]:
pd.DataFrame(res['siblings'])

  name  age          pets
0  Kim   25      [ba, ka]
1  Lee   22  [aa, bb, cc]

In [7]:
df=pd.DataFrame(res['siblings'], columns=['name', 'age'])
df

  name  age
0  Kim   25
1  Lee   22

In [ ]:
#json 문서 형식으로 변환

In [8]:
df.to_json()

'{"name":{"0":"Kim","1":"Lee"},"age":{"0":25,"1":22}}'

In [9]:
df.to_json("myjson.json") #json 문서 저장

In [10]:
pd.read_json("myjson.json") #json 문서 불러오기

  name  age
0  Kim   25
1  Lee   22