In [1]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web

# 연습문제1

금융 데이터에 대해 

    4개 features에 대해 상관계수 및 공분산 구하기
    - 공분산, 상관계수
    - GOOG과 양의 상관관계, 음의 상관관계가 가장 큰 회사 출력

In [2]:
data = {ticker:web.get_data_yahoo(ticker) 
        for ticker in ['AAPL', 'IBM', 'MSFT', "GOOG"]}

In [3]:
price = pd.DataFrame({ticker:d['Adj Close'] for ticker, d in data.items()})

In [4]:
price_ch = price.pct_change()
price_ch

                AAPL       IBM      MSFT      GOOG
Date
2015-08-25       NaN       NaN       NaN       NaN
2015-08-26  0.057355  0.040720  0.055350  0.079992
2015-08-27  0.029447  0.012543  0.027862  0.014301
2015-08-28  0.003276 -0.003770  0.000684 -0.011339
2015-08-31 -0.004678 -0.000608 -0.009333 -0.019242
...              ...       ...       ...       ...
2020-08-17 -0.002611 -0.006626  0.006606  0.006798
2020-08-18  0.008333  0.003857  0.005754  0.026759
2020-08-19  0.001255 -0.008646 -0.006067 -0.007102
2020-08-20  0.022190 -0.005572  0.023271  0.022113
2020-08-21  0.051532  0.000081 -0.007270 -0.000841

[1258 rows x 4 columns]

In [5]:
#공분산
price_ch.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000338  0.000152  0.000227  0.000202
IBM   0.000152  0.000258  0.000164  0.000144
MSFT  0.000227  0.000164  0.000304  0.000226
GOOG  0.000202  0.000144  0.000226  0.000274

In [8]:
mean_aapl = price_ch['AAPL'].mean()
mean_ibm =  price_ch['IBM'].mean()
mean_msft = price_ch['MSFT'].mean()
mean_goog = price_ch['GOOG'].mean()

In [14]:
print("[Apple 기준 공분산]")
print("Apple-IBM : ",(((price_ch['AAPL']-mean_aapl)*(price_ch['IBM']-mean_ibm)).sum())/len(price_ch))
print("Apple-MSFT : ",(((price_ch['AAPL']-mean_aapl)*(price_ch['MSFT']-mean_msft)).sum())/len(price_ch))
print("Apple-GOOG : ",(((price_ch['AAPL']-mean_aapl)*(price_ch['GOOG']-mean_goog)).sum())/len(price_ch))

[Apple 기준 공분산]
Apple-IBM :  0.00015178008336516732
Apple-MSFT :  0.00022666990542919633
Apple-GOOG :  0.000201547898559896

In [8]:
#상관관계
price_ch.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.514328  0.709210  0.663472
IBM   0.514328  1.000000  0.586223  0.540437
MSFT  0.709210  0.586223  1.000000  0.784367
GOOG  0.663472  0.540437  0.784367  1.000000

In [10]:
std_appl = price_ch['AAPL'].std()
std_ibm = price_ch['IBM'].std()
std_msft = price_ch['MSFT'].std()
std_goog = price_ch['GOOG'].std()

In [13]:
print("[Apple 기준 상관계수]")
print("Apple-IBM : ",((((price_ch['AAPL']-mean_aapl)/std_appl)*((price_ch['IBM']-std_ibm)/std_ibm)).sum())/len(price_ch))
print("Apple-MSFT : ",((((price_ch['AAPL']-mean_aapl)/std_appl)*((price_ch['MSFT']-std_msft)/std_msft)).sum())/len(price_ch))
print("Apple-GOOG : ",((((price_ch['AAPL']-mean_aapl)/std_appl)*((price_ch['GOOG']-std_goog)/std_goog)).sum())/len(price_ch))

[Apple 기준 상관계수]
Apple-IBM :  0.5124611261734672
Apple-MSFT :  0.7060635364140693
Apple-GOOG :  0.6605959784164769

# 연습문제2

에볼라 데이터에 대해,
    - 각 국가별 발병자 수 평균을 구했을 때, 평균값이 가장 큰 국가명을 출력하시오.
    - 각 국가별 발병자 수 컬럼값에 대해, NaN이 가장 많은 국가명을 출력하시오.
    - 각 국가별 사망자 수가 가장 많은 국가명 및 사망자수를 출력하시오.
    - 전체 사망자 수를 구하시오.
    - 전체 발병자 수를 구하시오.

In [11]:
ebola = pd.read_csv("../etc/data/country_timeseries.csv")

In [12]:
ebola.head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

In [13]:
ebola_case = ebola.iloc[:,2:10]
ebola_death = ebola.iloc[:,10:]
print(ebola_case.info())
print(ebola_death.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cases_Guinea        93 non-null     float64
 1   Cases_Liberia       83 non-null     float64
 2   Cases_SierraLeone   87 non-null     float64
 3   Cases_Nigeria       38 non-null     float64
 4   Cases_Senegal       25 non-null     float64
 5   Cases_UnitedStates  18 non-null     float64
 6   Cases_Spain         16 non-null     float64
 7   Cases_Mali          12 non-null     float64
dtypes: float64(8)
memory usage: 7.8 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Deaths_Guinea        92 non-null     float64
 1   Deaths_Liberia       81 non-null     float64
 2   Deaths_SierraLeone   87 non-null     float64
 3   Deaths_Nigeria       38 non-null     float64
 4   Deaths_Senegal       22 non-null     float64
 5   Deaths_UnitedStates  18 non-null     float64
 6   Deaths_Spain         16 non-null     float64
 7   Deaths_Mali          12 non-null     float64
dtypes: float64(8)
memory usage: 7.8 KB
None

In [14]:
print("발병 최대 국가 : ", ebola_case.mean().idxmax())
print("발병자 수 칼럼에 NaN값이 가장 많은 국가 : ", ebola_case.isnull().sum().idxmax())
print("가장 많은 사망자 수 : ", ebola_death.sum().max())
print("사망자 수가 가장 많은 국가 : ", ebola_death.sum().idxmax())
print("전체 사망자 수 : ", ebola_death.sum().sum())
print("전체 발병자 수 : ", ebola_case.sum().sum())

발병 최대 국가 :  Cases_SierraLeone
발병자 수 칼럼에 NaN값이 가장 많은 국가 :  Cases_Mali
가장 많은 사망자 수 :  89198.0
사망자 수가 가장 많은 국가 :  Deaths_Liberia
전체 사망자 수 :  201657.0
전체 발병자 수 :  490523.0

# 연습문제3
갭 마인더 데이터에 대해,
    - 국가별로 그룹화를 한 다음, 그룹 단위로 gdp의 평균을 출력하시오.
    - 대륙별로 그룹화를 한 다음, 그룹 단위로 기대수명의 평균을 출력하시오.

In [15]:
gapminder = pd.read_csv("../etc/data/gapminder.tsv", sep='\t')
gapminder

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [16]:
print("[국가별 gdp 평균]")
gapminder.groupby(['country'])['gdpPercap'].mean()

[국가별 gdp 평균]

country
Afghanistan            802.674598
Albania               3255.366633
Algeria               4426.025973
Angola                3607.100529
Argentina             8955.553783
                         ...
Vietnam               1017.712615
West Bank and Gaza    3759.996781
Yemen, Rep.           1569.274672
Zambia                1358.199409
Zimbabwe               635.858042
Name: gdpPercap, Length: 142, dtype: float64

In [17]:
print("[대륙별 기대수명 평균]")
gapminder.groupby(['continent'])['lifeExp'].mean()

[대륙별 기대수명 평균]

continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: lifeExp, dtype: float64