# 데이터베이스

- 데이터집합체(중복->일관성 유지 어려움->데이터베이스 체계적으로 관리의 필요->DBMS)
- DBMS(소프트웨어):오라클(미), MSSQL(러), MYSQL(한), SQLITE(일), MariaDB(중) => 공용어 : `SQL(Structured Query Language)` 문법

- 파이썬에서 기본적으로 제공되는 DBMS: `SQLITE3`
> `SQLITE3` : 안드로이드 운영체제에도 주로 사용됨
- DB연결/해제, 커서, 데이터 삽입/로드/조회/수정/삭제  
<br>   
---
- __ 자료형__  

```
파이썬   SQLite
----------------
int      Integer
float     real
str       text
bytes     BLOB
None      NULL
```
---
- __데이터베이스 활용 단계__

    1. 데이터베이스(파일) 생성(연결)
    2. 테이블 구조 설계(각 컬럼에 대한 타입 정의, CREATE TABLE 명령)
    3. 데이터 저장(insert into)
    4. 조회/수정/삭제/추가...

In [1]:
import sqlite3

## 1. DDL (Data Define Language)
스키마/도메인/테이블/뷰/인덱스를 정의/변경/제거할 때 사용하는 언어

### 1-1. create (테이블 생성)

In [2]:
conn=sqlite3.connect("DB/emp.db")
#기존에 emp.db파일(데이터베이스)이 없다면 -> 새롭게 생성하고 연결, 파일이 있다면 연결을 진행

In [3]:
conn.execute('create table emp_data(id integer, name text, nickname text, department text, employment_date text)') #데이터베이스 객체 변수를 이용하여 테이블 설계
#create table 테이블명(컬럼1 타입, 컬럼2 타입, ..., 컬럼n  타입)

### 1-2. drop (테이블 삭제)

In [4]:
#테이블 제거
#drop table 테이블명
conn.execute('drop table emp_data')

In [5]:
conn.close()

In [6]:
conn=sqlite3.connect('DB/emp.db')

In [7]:
cur=conn.cursor()

In [8]:
cur.execute("select * from emp_data")

# 결과 : Error
# 테이블이 삭제되었기 때문에 select할 데이터가 없다.

OperationalError: no such table: emp_data

---

## 2. DML(Data Manipulation Language)
Query(질의)를 통해서 저장된 데이터를 실질적으로 관리하는 데 사용

### 2-1. Insert(삽입)

In [9]:
conn=sqlite3.connect("DB/emp.db")
#기존에 emp.db파일(데이터베이스)이 없다면 -> 새롭게 생성하고 연결, 파일이 있다면 연결을 진행

In [10]:
conn.execute('create table emp_data(id integer, name text, nickname text, department text, employment_date text)') #데이터베이스 객체 변수를 이용하여 테이블 설계
#create table 테이블명(컬럼1 타입, 컬럼2 타입, ..., 컬럼n  타입)

In [11]:
#커서를 이용한 데이터 추가
cur=conn.cursor()

In [12]:
#insert into 테이블명 values (?, ?, ... , ?)

#cur.execute('insert into 테이블명 values ('a',100)')  컬럼이 2개
#cur.execute('insert into 테이블명 values (?,?)', ('a',100)) #포맷팅

# data=[('a',100), ('b',200)]
# cur.executemany('insert into 테이블명 values (?,?)', data)

cur.executemany(
'insert into emp_data values (?, ?, ?, ?, ?)',
    [(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000'),
     (2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000'),
     (3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000'),
     (4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000'),
     (5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')        
    ]
)

In [13]:
#데이터베이스 저장
conn.commit()
#데이터베이스 연결 종료
conn.close()

### 2-2. Select (조회)

In [14]:
import pandas as pd
import numpy as np

In [15]:
conn=sqlite3.connect("DB/emp.db") #이미 생성되어 있으므로, 데이터베이스 연결만 수행

In [16]:
cur=conn.cursor()

* 읽어온 데이터를 한 줄씩 출력하기

In [17]:
cur.execute('select * from emp_data') 
#emp_data테이블로부터 모든 데이터를 가져와라 -> 가져온 데이터 -> cur가 데이터를 가리키고 있음

for row in cur: #cur가 가리키고 있는 위치부터 데이터를 하나씩 읽어 내려가면서 row에 저장
    print(row)

(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000')
(2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000')
(3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000')
(4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000')
(5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')

* 읽어온 데이터를 한번에 출력하기

In [18]:
cur.execute('select * from emp_data') 
rows=cur.fetchall()
rows

[(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000'),
 (2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000'),
 (3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000'),
 (4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000'),
 (5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')]

In [19]:
#컬럼명 추출
cols=[column[0] for column in cur.description]

In [20]:
df=pd.DataFrame.from_records(data=rows, columns=cols)

In [21]:
df

   id     name nickname   department          employment_date
0   1  gildong       gd    marketing  2020-10-06 10:36:00.000
1   2  sunshin       ss    marketing  2019-10-06 10:36:00.000
2   3    yusin       ys  development  2020-01-06 10:36:00.000
3   4   sejong       sj    marketing  2020-05-06 10:36:00.000
4   5     bogo       bg  development  2020-07-06 10:36:00.000

In [22]:
conn.close()

### 2-3. Update(갱신)

In [23]:
conn=sqlite3.connect("DB/dbtest.db")

In [24]:
cur=conn.cursor()

In [25]:
#새로운 테이블 생성(create)
cur.execute('create table test (name text, jumsu int)')

In [26]:
# 데이터 입력(insert)

#방법1
cur.execute("insert into test values ('sunshin', 100)") 

#방법2
cur.execute("insert into test values (?,?)",('sunshin', 100)) #포맷팅형식

In [27]:
#조회1
cur.execute('select * from test')
for row in cur:
    print(row)

('sunshin', 100)
('sunshin', 100)

In [28]:
#조회2
cur.execute('select * from test')
rows=cur.fetchall()
rows

[('sunshin', 100), ('sunshin', 100)]

**테이블로부터 조건식에 해당되는 데이터의 컬럼 값을 변경값으로 바꾸어라**
> update `테이블명` set `컬럼`=`변경값` where `조건식`

In [29]:
cur.execute("update test set jumsu=90 where name='sunshin'")

In [30]:
cur.execute('select * from test')
rows=cur.fetchall()
rows

[('sunshin', 90), ('sunshin', 90)]

In [31]:
conn.close()

## 3. 데이터분석에서의 활용
pandas 데이터프레임 -> sqlite 테이블로 저장

In [32]:
data={'c1':[1,2,3],
     'c2':[11,21,31],
     'c3':[12,22,32]}

In [33]:
data
df=pd.DataFrame(data)
df

   c1  c2  c3
0   1  11  12
1   2  21  22
2   3  31  32

In [34]:
conn=sqlite3.connect('DB/cvTable.db')

__df를 cvTable데이터베이스에 mytable 테이블로 저장__

In [35]:
df.to_sql('mytable', conn)

In [36]:
cur=conn.cursor()

In [37]:
cur.execute("select c1,c2 from mytable") # *은 전체 컬럼

In [38]:
rows=cur.fetchall()
rows

[(1, 11), (2, 21), (3, 31)]

In [39]:
conn.close()