In [ ]:
"""
항목집합 = {i1, ..., ,in} = 2의 n승 부분집합-1(공집합)
2의 n승-1개 부분집합으로부터 연관규칙 생성(임계값 설정)
"""

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder #머신러닝을 위한 확장형 패키지
from mlxtend.frequent_patterns import apriori

#TransactionEncoder: 길이가 일정치 않은 거래 데이터를 머신러닝하기에 적절한 형태의 배열로 변환

In [15]:
dataset = [['Apple', 'Beer', 'Rice', 'Chicken'], 
           ['Apple', 'Beer', 'Rice'], 
           ['Apple', 'Beer'], 
           ['Apple', 'Bananas'], 
           ['Milk', 'Beer', 'Rice', 'Chicken'], 
           ['Milk', 'Beer', 'Rice'], 
           ['Milk', 'Beer'], 
           ['Apple', 'Bananas']]

In [16]:
te=TransactionEncoder()

In [21]:
te_array = te.fit_transform(dataset)
te_array

array([[ True, False,  True,  True, False,  True],
       [ True, False,  True, False, False,  True],
       [ True, False,  True, False, False, False],
       [ True,  True, False, False, False, False],
       [False, False,  True,  True,  True,  True],
       [False, False,  True, False,  True,  True],
       [False, False,  True, False,  True, False],
       [ True,  True, False, False, False, False]])

In [11]:
te_array.astype(int) #불린형이 아닌 int형으로 나타내기

array([[1, 0, 1, 1, 0, 1],
       [1, 0, 1, 0, 0, 1],
       [1, 0, 1, 0, 0, 0],
       [1, 1, 0, 0, 0, 0],
       [0, 0, 1, 1, 1, 1],
       [0, 0, 1, 0, 1, 1],
       [0, 0, 1, 0, 1, 0],
       [1, 1, 0, 0, 0, 0]])

In [12]:
te.columns_

['Apple', 'Bananas', 'Beer', 'Chicken', 'Milk', 'Rice']

In [23]:
#te_array -> 데이터프레임 변환, 컬럼 이름은 te.colums_설정
pd.DataFrame(te_array, columns=te.columns_)

   Apple  Bananas   Beer  Chicken   Milk   Rice
0   True    False   True     True  False   True
1   True    False   True    False  False   True
2   True    False   True    False  False  False
3   True     True  False    False  False  False
4  False    False   True     True   True   True
5  False    False   True    False   True   True
6  False    False   True    False   True  False
7   True     True  False    False  False  False

In [25]:
te.inverse_transform(te_array) #원래 형태로 돌리기

[['Apple', 'Beer', 'Chicken', 'Rice'],
 ['Apple', 'Beer', 'Rice'],
 ['Apple', 'Beer'],
 ['Apple', 'Bananas'],
 ['Beer', 'Chicken', 'Milk', 'Rice'],
 ['Beer', 'Milk', 'Rice'],
 ['Beer', 'Milk'],
 ['Apple', 'Bananas']]

In [ ]:
# 머신러닝을 위한 데이터 프레임으로 변환 - 실습

In [27]:
dataset2 = [['사과', '치즈', '생수'],
           ['생수', '딸기', '치즈', '고등어'],
           ['수박', '사과', '생수'],
           ['생수', '딸기', '치즈', '감자']]

In [30]:
te2 = TransactionEncoder()
te2_array = te2.fit_transform(dataset2)

In [33]:
df = pd.DataFrame(te2_array, columns=te2.columns_)
df

      감자    고등어     딸기     사과    생수     수박     치즈
0  False  False  False   True  True  False   True
1  False   True   True  False  True  False   True
2  False  False  False   True  True   True  False
3   True  False   True  False  True  False   True

In [ ]:
#apriori알고리즘

In [37]:
freq_itemsets = apriori(df, min_support=0.5, use_colnames=True) 
#최소지지도가  0.5이상인 것만 추출(빈발항목집합)

freq_itemsets

   support      itemsets
0     0.50          (딸기)
1     0.50          (사과)
2     1.00          (생수)
3     0.75          (치즈)
4     0.50      (생수, 딸기)
5     0.50      (딸기, 치즈)
6     0.50      (생수, 사과)
7     0.75      (생수, 치즈)
8     0.50  (생수, 딸기, 치즈)

In [39]:
from mlxtend.frequent_patterns import association_rules #연관규칙을 찾아내는 함수

In [43]:
association_rules(freq_itemsets, metric="confidence", min_threshold=0.3)
#metric: 평가지표
#min_threshold(임계값): confidence(신뢰도)가 0.3이상인 것 모두 추출

   antecedents consequents  antecedent support  consequent support  support  confidence      lift  leverage  conviction
0         (생수)        (딸기)                1.00                0.50     0.50    0.500000  1.000000     0.000         1.0
1         (딸기)        (생수)                0.50                1.00     0.50    1.000000  1.000000     0.000         inf
2         (딸기)        (치즈)                0.50                0.75     0.50    1.000000  1.333333     0.125         inf
3         (치즈)        (딸기)                0.75                0.50     0.50    0.666667  1.333333     0.125         1.5
4         (생수)        (사과)                1.00                0.50     0.50    0.500000  1.000000     0.000         1.0
5         (사과)        (생수)                0.50                1.00     0.50    1.000000  1.000000     0.000         inf
6         (생수)        (치즈)                1.00                0.75     0.75    0.750000  1.000000     0.000         1.0
7         (치즈)        (생수)                0.75                1.00     0.75    1.000000  1.000000     0.000         inf
8     (생수, 딸기)        (치즈)                0.50                0.75     0.50    1.000000  1.333333     0.125         inf
9     (생수, 치즈)        (딸기)                0.75                0.50     0.50    0.666667  1.333333     0.125         1.5
10    (딸기, 치즈)        (생수)                0.50                1.00     0.50    1.000000  1.000000     0.000         inf
11        (생수)    (딸기, 치즈)                1.00                0.50     0.50    0.500000  1.000000     0.000         1.0
12        (딸기)    (생수, 치즈)                0.50                0.75     0.50    1.000000  1.333333     0.125         inf
13        (치즈)    (생수, 딸기)                0.75                0.50     0.50    0.666667  1.333333     0.125         1.5

In [ ]:
# 뉴스 데이터 : 속리산 -> ???
# 깃대종 관련 논문 : 속리산 -> ???
# 속리산 -> 담비 규칙의 (지지도, 신뢰도, 향상도)